MONGO_URI=
DNS_SERVERS=
JWT_SECRET=
CLIENT_ID=
CLIENT_SECRET=
REFRESH_TOKEN=
EMAIL_USER=
EMAIL_PASS=
EMAIL_AUTH_MODE=auto
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
FRONTEND_URL=
FRONTEND_URLS=
